<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpaceX reports</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>
        <div class="header__container">
            <a href="../../index.html">HOME</a>
            <a href="#">BROWSE</a>
            <a href="#">REPORTS</a>
            <a href="#">ABOUT THIS PROJECT</a>
        </div>
    </header>
    <section class="main__title">
        <h1>Browse</h1>
    </section>
    <section class="main_form">
        <label> Items Per Page
        <input type="number" name="pageItems" id="pageItems" max="20" min="1">
        </label>

    </section>
    <section class="main__container" id="cont">

    </section>
        <script type="module" src="../js/app.js"></script>
    </body>
</html>