<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpaceX reports</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>
        <div class="header__container">
            <a href="../../index.html">HOME</a>
            <a href="#">BROWSE</a>
            <a href="#">REPORTS</a>
            <a href="#">ABOUT THIS PROJECT</a>
        </div>
    </header>
    <section main__title>
        <h1>Reports</h1>
    </section>
    <section></section>
    <script type="module" src="./src/js/app.js"></script>
</body>
</html>